.grid-container {
    display:grid;
    grid-template-areas:
    'h h h h '
    'n m m m '
    'n m m m ';
    grid-template-columns: 1fr 2fr 2fr 2fr; /* 1/7 for nav, 6/7 for main */
    grid-template-rows: auto 6fr 6fr; 
    min-height: 100vh; /* viewport height makes sure grid always perfectly fits screen */
    background: linear-gradient(to right, rgb(148, 148, 148) 14.5%, grey 14.5%);
}
header {
    grid-area:h; 
    border: 2px solid black;
    border-radius: 0 0 20px 20px;
    min-width: 1210px;
}
nav {
    grid-area:n; 
    background-color: rgb(148, 148, 148);
    border-right: 2px solid black;
}
main {
    grid-area:m; 
    background-color: grey;
    padding: 10px;
    padding-right: 0; /* removes padding on right as buttons have margin on right to split each button up */
}
 
.title { 
    font-weight: bold; 
    font-size: 35pt; 
    font-family: 'SuperPixel', sans-serif; /* Using custom font, but using sans-serif as backup */;
    margin-left: 10px;
} 
 
#map { position: relative;
    height: 100%;
    width: calc(100% - 10px);
    background-color: white;
}

#map-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999; /* Ensure the overlay is on top of the map, using 99999 as map has high priority already */
    pointer-events: none; /* Allow clicks to pass through */
}

@font-face {
    font-family: 'SuperPixel';
    src: url('fonts/SuperPixel.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MiniPixel';
    src: url('fonts/MiniPixel.otf');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'MiniPixel', sans-serif; /* sets default font to custom font, with sans-serif as backup */
}

.gold-gradient {
    background: linear-gradient(to top, #f2b82c 0%, #eeef68 50%, #f6f9b2 100%);
}

.nav-button {
    width: 25%;
    height: 50px;
    font-family: 'SuperPixel', sans-serif;
    font-size: 16px;
    min-width: 246.25px; /* set a min width to ensure text stays within the buttons on diff screen sizes */
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: transparent;
    background-image: url('images/buttonUp.png');
    background-size: 100% 100%;
    background-position: center;
    border: none;
    padding-bottom: 7px; /* ensures buttons are central on custom background image, rather than button itself */
}

.nav-button:active {
    background-image: url('images/buttonDown.png');
}

.nav-button .label {
    display: inline-block; /* allows transform to shift text inside button for enhanced click effect */
}

.nav-button:active .label{
    transform: translateY(2px); /* performs translation when button is clicked */
}

.nav-button.active { /* active class for filter buttons for setActive function in index.js */
    background-image: url('images/buttonDown.png');
}

.nav-button.active .label{
    transform: translateY(2px); /* maintains tranformed text position while active */
}

.nav-bar {
    display: flex; /*converts to flex container, automatically aligning items*/;
    flex-direction: row;
}

.nav-column {
    display: flex;
    flex-direction: column; /* stack buttons vertically rather than horizontally */
    padding: 10px;
}

th {
    font-family: 'SuperPixel', sans-serif;
    font-weight: lighter;
    font-size: 13px;
    border: 1px solid black;
}

table {
    min-width: 1015px;
    border: 2px solid black;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
    border-radius: 7px;
    width: calc(100% - 10px);
} col:nth-child(1) {
    width: 25%;
} col:nth-child(2) {
    width: 15%;
} col:nth-child(3) {
    width: 40%;
} col:nth-child(4) {
    width: 20%;
}

tr:first-child th:first-child {
    border-top-left-radius: 5px;
}
tr:first-child th:last-child {
    border-top-right-radius: 5px;
}

tr:nth-child(even) {
    background-color: rgb(148, 148, 148);
}

td {
    border: 1px solid black;
}

#search {
    float: right;
    margin-top: 17px;
    margin-right: 10px;
}

.search-button {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    background-color: transparent;
    background-image: url("images/searchButtonUp.png");
    background-size: 100% 100%;
    background-position: center;
    border: none;
}

.search-button:active {
    background-image: url("images/searchButtonDown.png");
}

.search-bar {
    font-family: 'SuperPixel', sans-serif;
    font-size: 14px;
    background-color: transparent;
    background-image: url("images/searchBar.png");
    background-size: 100% 100%;
    border: none;
    padding-left: 10px;
    padding-top: 7px;
    height: 50px;
}

span {
    font-family: 'SuperPixel', sans-serif;
    font-size: 16px;
}

.logo {
    width: 65px;
    margin: 10px;
}